# Python virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]
*.so

# Environment variables
.env

# Logs and test outputs
*.log

# Jupyter notebooks
.ipynb_checkpoints/

# OS generated
.DS_Store
